<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Wochentage - Geben Sie hier die zur Verfügung stehende Arbeitszeit für jeden Tag in Stunden an</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Montag</string>
			<key>Key</key>
			<string>times_preferences_mon</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Dienstag</string>
			<key>Key</key>
			<string>times_preferences_tue</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Mittwoch</string>
			<key>Key</key>
			<string>times_preferences_wed</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Donnerstag</string>
			<key>Key</key>
			<string>times_preferences_thu</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Freitag</string>
			<key>Key</key>
			<string>times_preferences_fri</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Samstag</string>
			<key>Key</key>
			<string>times_preferences_sat</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Sonntag</string>
			<key>Key</key>
			<string>times_preferences_sun</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
	</array>
	<key>Key</key>
	<string>times_preferences</string>
	<key>Title</key>
	<string>Arbeitszeiten einstellen</string>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
