<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Wochentage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Test</string>
			<key>Key</key>
			<string>times_pane_textfield</string>
		</dict>
	</array>
	<key>Key</key>
	<string>times_preferences</string>
	<key>Title</key>
	<string>Testtitel</string>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
